<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appcofei">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCOFEI"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".GUI.Activitys.GUI_CU_09_Registrar_Emplaedo"
            android:exported="true" />
        <activity
            android:name=".GUI.Activitys.GUI_Menu_Cliente"
            android:exported="true" />
        <activity
            android:name=".GUI.Activitys.GUI_Menu_Administrador"
            android:exported="true" />
        <activity
            android:name=".GUI.Activitys.GUI_CU_02_Modificar_Producto"
            android:exported="true" />
        <activity
            android:name=".GUI.Activitys.GUI_CU_01_Registrar_Producto"
            android:exported="true" />
        <activity
            android:name=".GUI.Activitys.GUI_CU_11_Consultar_Producto"
            android:exported="true" />
        <activity
            android:name=".GUI.Activitys.GUI_CU_Gestionar_Producto"
            android:exported="true" />
        <activity
            android:name=".GUI.Activitys.GUI_CU_04_Registrar_Cliente"
            android:exported="true" />
        <activity
            android:name=".GUI.Activitys.GUI_CU_03_Iniciar_Sesion"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>